
body {
    font-family: monospace, sans-serif;
    background-color: whitesmoke;
}

#header a:hover {
    color: #ccc;
}


#logo {
    background: url("../images/program.jpg");
    background-size: 5%;
    background-repeat: none;
    min-height: 500px;
}

#About {
    margin-top: -200px;
}

#About .fa-facebook {
    color: #3b5998;
}

#About .fa-linkedin {
    color: #0072b1;
}

#About .fa-instagram {
    color: #fb3958;
}

#About .fa-github {
    color: white;
}

#About span {
    padding: 10px 20px 10px 20px;
}

#About hr {
    border-width: 2px;
    margin-top: 06px;
}

#Skills span {
     padding: 10px 20px 10px 20px;
}

#Skills hr {
    border-width: 2px;
    margin-top:06px;
}

#Projects span {
    padding: 10px 20px 10px 20px;
}

#Projects hr {
    border-width:2px;
    margin-top:06px;
}

#Projects .card {
    border-top: 05px;
   
}

#Contact span {
    padding: 10px 20px 10px 20px;
}

#Contact hr {
    border-width: 2px;
    margin-top:06px;
}