
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    background-color: whitesmoke;
}

#header a:hover {
    color: #ccc;
}

#header nav {
    background-color: rgb(84, 85, 180);
}

#about {
    margin-top: 15%;
}

#about .fa-facebook {
    color: #3b5998;
}

#about .fa-linkedin {
    color: #0072b1;
}

#about .fa-instagram {
    color: #458eff;
}

#about .fa-github {
    color: white;
}

#about span {
    padding: 10px 20px 10px 20px;
    background-color: rgb(0, 0, 0);
}

#about hr {
    border-width: 2px;
    margin-top: 6px;
}

#about h1 {
    padding-top: 3%; 
}

#about .card {
   background-color: rgb(0, 0, 0); 
}

#skills .card {
    padding-bottom:3%;
    background-color: rgb(0, 0, 0);
}


#skills span {
     padding: 10px 20px 10px 20px;
     background-color: rgb(0, 0, 0);
}

#skills hr {
    border-width: 2px;
    margin-top:06px;
}

#projects span {
    padding: 10px 20px 10px 20px;
    background-color: rgb(0, 0, 0);
}

#projects hr {
    border-width:2px;
    margin-top:06px;
}

#projects .card {
    border-top: 05px;
    background-color: rgb(0, 0, 0);
   
}

#projects img {
    width: 200px;
    height: 100%;
}

#projects a:link {
  color: green;
  background-color:transparent;
  text-decoration: none;
}
#projects a:visited {
  color: rgb(6, 255, 39);
  background-color: transparent;
  text-decoration: none;
}
#projects a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
#projects a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}


#contact span {
    padding: 10px 20px 10px 20px;
    background-color: rgb(0, 0, 0);
}

#contact hr {
    border-width: 2px;
    margin-top:06px;
}

#contact .card {
    background-color: rgb(0, 0, 0);
}


#copyright a {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
#copright a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
#copyright a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
#copyright a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;