

body {
    background-color: #ccc;
    height:100vh;
}

#header a:hover {
    color: #fff;
}

#logo {
    background: url("../images/plane.jpg");
    background-size: 100%;
    background-repeat: none;
    min-height: 500px;
}
